<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><b>Onshape Assembly Graph</b></title>

    <link rel="stylesheet" href="jquery-ui-1.11.1.custom/jquery-ui.min.css">
    <link rel="stylesheet" href="css/graph.css">
    <link rel="stylesheet" href="http://css-spinners.com/css/spinner/spinner.css" type="text/css">
</head>

<body>

<script src="jquery-ui-1.11.1.custom/external/jquery/jquery.js"></script>
<script src="jquery-ui-1.11.1.custom/jquery-ui.min.js"></script>
<script src="jquery-plugin-query-parser-master/jquery-queryParser.min.js"></script>
<script src="js/q.js"></script>
<script src="js/graph.js"></script>
<script src="js/d3.js"></script>
<script src="js/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

<div id="top-toolbar">
    <div id="context-table">
        Assembly Graph:
        <select id="elt-select"></select>
        <input type="checkbox" id="use-images">Use images</input>
        <input type="image" id="element-generate" width="20" height="20" style="border:none" src="./images/refresh.svg" />
    </div>
</div>

<div class="graph-progress-bar" id="graph-status-bar">
    <div class="spinner-loader">
    </div>
</div>

</body>
</html>

